
    <div class="container" aria-label="Registration container">
    <div class="row"> 
        <div class="col-xs-12 col-sm-12 col-md-12 well well-sm">
            <h4> Registration</h4>
            <form action="#" method="post" class="form" role="form">
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="firstname" placeholder="First Name" type="text"
                        required autofocus ng-model="regCtrl.userInfo.first_name"  />
                </div>
                <div class="col-xs-6 col-md-6">
                    <input class="form-control" name="lastname" placeholder="Last Name" type="text" required  
                    ng-model="regCtrl.userInfo.last_name" />
                </div>
            </div>
            <input class="form-control" name="youremail" placeholder="Your Email" type="email" required ng-model="regCtrl.userInfo.email"/>
            <input class="form-control" name="password" placeholder="Password" type="password" required ng-model="regCtrl.userInfo.password"/>
            <label for="dob">
                Birth Date</label>

                <input class="form-control" name="date" placeholder="Date Of Birth" type="date" required ng-model="regCtrl.userInfo.dob"/>
           
            <label class="radio-inline">
                <input type="radio" name="sex" id="male" value="male"  checked ng-model="regCtrl.userInfo.sex"/>
                Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="sex" id="female" value="female" ng-model="regCtrl.userInfo.sex"/>
                Female
            </label>
            <br />
            <p class="sub-button"><button class="btn btn-primary" type="submit" ng-click="regCtrl.savenUserInformation()">
                Register</button>
                <button class="btn btn-primary" type="reset">
                    Reset</button></p>
            
            </form>
        </div>
    </div>
</div>
